<div class="usa-section background-medium section-cta">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-3">
        <img src="{{ site.baseurl }}/assets/img/talk-bubble.svg" alt="talk bubble">
      </div>
      <div class="tablet:grid-col-9">
        <p>Have a success, story, suggestion, or scenario to share with the TechRadar community?  Sharing is caring.</p>
        <a class="usa-button usa-button-secondary" href="{{ site.baseurl }}/contact/">Start Sharing</a>
      </div>
    </div>
  </div>
</div>
