---
permalink: /
layout: default
title: Home
redirect_from: /dashboard/
redirect_from: /developer/
---

<section class="background-dark">
  <section class="usa-hero usa-hero--primary">
    <div class="grid-container">
      <div
        class="usa-hero__callout background-dark tablet:grid-col-8"
      >
<!--         <h1>
          Connect with new insights and innovators to create new possibilities.
        </h1> -->
        <h2>
          Accelerate emerging tech assessment, alignment, and action.
        </h2>
        <h5>
          Uncover new insights.  Meet new collaborators.  Discover new pathways.  Take the next step.  
          </h5>
        <br>
        <a href="{{ site.baseurl }}/contact/" tabindex="-1"
          ><button class="usa-button usa-button-secondary usa-button--big">
            Join TechRadar 
          </button></a
        >
      </div>
    </div>
  </section>
</section>

<!-- <section class="usa-section grid-container">
  <section class="pad-right-left">
    <div class="home-testimonial">
      We engaged with TechRadar, and it was a game-changer for us. They came in and
      helped the IT team and business owners get involved in the emerging tech process. It changed our whole methodology.
      <span>- Chang Charley, Agency Chief Information Officer</span>
    </div>
  </section>
</section> -->

<section class="usa-section grid-container">
  <section class="grid-gap">
    <h2>We support your vision</h2>
    <section class="tablet:grid-col-8">
      <h3 class="p-line-height p-normal pad-bottom-mobile">
        As an office within the General Services Administration, we know how to
        work with government.  TechRadar empowers Federal innovators with the actionable
        insights they seek to better monitor, measure and mitigate risks associated with
        emerging technologies.
      </h3>
    </section>
  </section>
</section>

<!-- <section class="usa-section background-gray">
  <section class="grid-container">
    {% assign agency_partners = site.data.featured_agencies %} {% assign
    partner_groups = agency_partners | in_groups: 3 %}
    <h2>Some agencies we’ve worked with</h2>
    <ul class="grid-row list-columns grid-gap">
      {% for group in partner_groups %}
      <li class="tablet:grid-col-4">
        <ul class="list-columns list-images">
          {% for partner in group %}
          <li class="list-images-item">
            <img
              class="list-images-image"
              src="{{ partner.logo | prepend: site.baseurl }}"
              alt="{{ partner.logo }} logo"
            />
            {% if partner.agency_url %}
            <a
              class="list-images-text"
              href="{{ partner.agency_url | prepend: site.baseurl }}"
              >{{ partner.name }}</a
            >
            {% else %}
            <span class="list-images-text">{{ partner.name }}</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <p>
      <a
        class="link-arrow-right post-link-continue_reading"
        href="{{ '/what-we-deliver/#some-agencies-weve-worked-with' | prepend: site.baseurl }}"
      >
        See more agency partners {% include svg/icons/arrow-right.svg %}
      </a>
    </p>
  </section>
</section> -->

<section class="usa-section">
  <section class="grid-container">
    <h2>What You Can Do with TechRadar</h2>
    <div class="grid-col-12">
      <ul class="grid-row list-columns grid-gap">
        <li class="tablet:grid-col-4">
          <div class="icon-list">
            <figure class="icon-list-image">
              {% include svg/icons/user-centered-icon.svg %}
            </figure>
            <div class="icon-list-text">
              <p class="p-bold">
                Connect and collaborate with Federal innovators seeking 
                to assess the latest emerging tech and align with past, 
                present, or prospective efforts.
              </p>
            </div>
          </div>
        </li>
        <li class="tablet:grid-col-4">
          <div class="icon-list">
            <figure class="icon-list-image">
              {% include svg/icons/monitor.svg %}
            </figure>
            <div class="icon-list-text">
              <p class="p-bold">
                Be enlightened and empowered with curated emerging tech insights 
                and applications tailored for a Federal audience.
              </p>
            </div>
          </div>
        </li>
        <li class="tablet:grid-col-4">
          <div class="icon-list">
            <figure class="icon-list-image">
              {% include svg/icons/folderwithclock.svg %}
            </figure>
            <div class="icon-list-text">
              <p class="p-bold">
                Co-create and develop consensus within our community to prevent dated, disconnected, 
                disruptive, and duplicative efforts and to promote innovation.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>
